.company_wrapper {
  width: 100dvw;
  height: 350px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authorization_image_div {
  width: 90%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.authorization_text_div {
  width: 90%;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.authorization_text_div p {
  font-size: 12px;
  width: 200px;
  margin-top: 10px;
}

.authorization_text_div button {
  width: 100px;
  height: 35px;
  padding: 10px;
  background: white;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 10px;
}

@media (min-width: 1024px) {
  .company_wrapper {
    width: 100dvw;
    height: 420px;
    border-radius: 20px;
    margin-top: 100px;
    flex-direction: row-reverse;
    padding: 10px;
    justify-content: center;
  }

  .authorization_text_div {
    width: 40%;
    align-items: flex-start;
  }

  .authorization_image_div,
  .authorization_text_div {
    height: 400px;
    margin-top: 0px;
  }

  .authorization_text_div h4 {
    font-size: 60px;
    width: 600px;
    text-align: left;
    margin-bottom: 10px;
  }

  .authorization_text_div p {
    text-align: left;
    width: 300px;
    font-size: 11px;
  }

  .authorization_image_div {
    width: 400px;
  }

  .verify_img {
    width: 250px;
    height: 250px;
  }
  .authorization_text_div button {
    width: 200px;
    border-radius: 0px;
    transition: all 200ms ease-out;
    cursor: pointer;
  }

  .authorization_text_div button:hover {
    background-color: gray;
  }
}
