.main_wrapper {
  width: 100dvw;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.main_phrase {
  text-align: center;
}

.main_sub_phrase {
  text-align: center;
  font-size: 13px;
  width: 200px;
}

.main_button {
  width: 120px;
  height: 40px;
  font-weight: bold;
  font-size: 10px;
  outline: none;
  background-color: black;
  color: white;
  border-radius: 10px;
}
