.step_wrapper {
  width: 100dvw;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.step {
  width: 320px;
  height: 120px;
  background: white;
  box-shadow: 0px 0px 20px 1px rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.step_text_image_wrapper {
  width: 95%;
  height: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.step_text_image_wrapper p {
  font-size: 13px;
  width: 200px;
  text-align: center;
}

@media (min-width: 1024px) {
  .step_wrapper {
    width: 80dvw;
    height: 200px;
    flex-direction: row;
  }

  .step {
    width: 350px;
  }

  .step_text_image_wrapper p {
    text-align: center;
  }
}
